<!-- <div [ngStyle]="currentStyles">
  {{ title }}
</div>

<div [ngClass]="currentClasses">
  {{ apiURL }}
</div>


<p appActive>Active !!</p>

<button (click)="show = !show">toggle</button>

<app-hello *ngIf="show"></app-hello>
<app-parent></app-parent>
<app-track-by></app-track-by>
<app-smart></app-smart>

<button (click)="add()">Dynamically Add Component</button>  

<ng-container #container></ ng-container >   -->

<!-- <app-vjs-player
  [options]="{
    autoplay: true,
    controls: true,
    sources: [{ src: 'https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-720p.mp4', type: 'video/mp4' }]
  }"
></app-vjs-player> -->

<app-videojs-wavesurfer></app-videojs-wavesurfer>

<router-outlet></router-outlet>
